@{
}

<h2>Shopping Corner</h2>
@{
    List<Product> shopItems = ViewBag.shopItems;
        <center>
        
        <h2>Products for Sale</h2>
        @{if(Convert.ToInt32(ViewData["ProductAdmin"]) ==1)
        {
            <a asp-controller="Shopping" asp-action="NewProduct">New Product</a>
        }
        }
        </center>
        <br />
        <hr />
        <center>
        @*This is the table rows for products.*@
        <table class="w-75">
            <tr class="headerrow2">
                <td class="cell4">Image</td>
                <td class="cell4">Name</td>
                <td class="cell4">Description</td>
                <td class="cell4">Price</td>
                <td class="cell4">Discount</td>
                <td class="cell4">Total</td>
            </tr>
        @{
            if(ViewBag.shopItems == null)
            {
                <tr>
                <td class="cell4" colspan="5">No items for Sale.</td>
                    </tr>
                }
                else
                {
                    foreach (Product forSale in shopItems)
                    {
                        decimal total = (forSale.Price * (100 - forSale.Discount)) / 100;
                        string priceb = forSale.Price.ToString("0.00");
                        string totalb = total.ToString("0.00");
                        string price = "$" + forSale.Price;
                        string discount = @forSale.Discount + "%";
                        string totalprice = "$" + totalb;
                        <tr>
                        <td ><img src="@forSale.Picture" height="35px" width="35"/></td>
                        <td class="cell4">@forSale.Name</td>
                        <td class="cell4">@forSale.Description</td>
                        <td class="cell4">@String.Format("{0:0,0.##}",priceb)</td>
                        <td class="cell4">@discount</td>
                        <td class="cell4">@String.Format("{0:0,0.##}",totalprice)</td>
                        <td class="cell4"><a asp-action="ViewDetails" asp-route-id="@forSale.ID">Details</a></td>
                        
                            @{

                                if(Convert.ToInt32(ViewData["CustomerShopping"])==1)
                                {
                                    <td><a asp-action="AddToCart" asp-route-id="@forSale.ID">Add To Cart</a></td>
                                }
                                else if (Convert.ToInt32(ViewData["ProductAdmin"]) == 1)
                                {
                                    <td><a asp-action="DeleteProduct" asp-route-id="@forSale.ID">Delete</a></td>
                                }
                                else
                                {
                                    
                                }

                            }
                    </tr>
                }
            }
         
        }</table></center>
 }