@{<center>
    <h2>Product Details</h2>
    <img src="@ViewBag.thisProduct.Picture" height="100px", width="100px"/>
    <p>@ViewBag.thisProduct.Name</p>
    <p>@ViewBag.thisProduct.Description</p>
    <p>@ViewBag.thisProduct.Price</p>
    <p>@ViewBag.thisProduct.Discount</p>
    <p><input type="number" /></p>
</center>

}
